[package]
name = "meta-bot2"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.65"
dotenvy = "0.15.5"
futures = "0.3.24"
matrix-sdk = "0.6.0"
notify = "5.0.0"
rand = "0.8.5"
reqwest = { version = "0.11.12", features = ["json", "blocking"] }
tokio = { version = "1.21.2", features = ["rt-multi-thread", "macros"] }
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
wasmtime = "1.0.1"
wit-bindgen-host-wasmtime-rust = { git = "https://github.com/bytecodealliance/wit-bindgen", rev = "aca3671" }
