name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    env:
        RUST_BACKTRACE: 1
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - nightly

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: clippy, rustfmt

      - uses: Swatinem/rust-cache@v1

      - name: Format host
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Format modules
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --manifest-path ./modules/Cargo.toml -- --check

      - name: Check host
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all --verbose

  ci-modules:
    env:
        RUST_BACKTRACE: 1
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - nightly

    steps:
      - uses: actions/checkout@v2
        
      - name: Install cargo-component
        run: cargo install --locked --git https://github.com/bytecodealliance/cargo-component

      - name: Check modules
        run: cargo component check
